/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --background: url('../images/cover-image-light.png');
  --accent-color: #FF8DCB;
  --primary-color: #353430;
  --banner-color: #FFC2E6;
  --banner-shadow-color: #FF8DCB;
  --menu-theme-color: #353430;
  --menu-theme-hover-color: #35343066;
  --title-color: #353430;
  --title-decor-color: #353430;
  --visability: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: url('../images/cover-image-light.png');
    --accent-color: #FF8DCB;
    --primary-color: #353430;
    --banner-color: #FFC2E6;
    --banner-shadow-color: #FF8DCB;
    --menu-theme-color: #353430;
    --menu-theme-hover-color: #35343066;
    --title-color: #353430;
    --title-decor-color: #353430;
    --visability: hidden;
  }
}