/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --background: url('../images/cover-image-light.png');
  --accent-color: #FF8DCB;
  --primary-color: #353430;
  --banner-color: #FFC2E6;
  --menu-theme-color: #353430;
  --menu-theme-hover-color: #35343066;
  --title-color: #353430;
  --title-decor-color: #353430;
}

.theme_light .rec {
  visibility: hidden;
}

@media (max-width: 1024px) {
  .theme_light .header__title,
  .theme_light .footer__title {
    --banner-shadow-color: #FF8DCB;
  }
}

@media (prefers-color-scheme: light) {
  
  :root {
    --background: url('../images/cover-image-light.png');
    --accent-color: #FF8DCB;
    --primary-color: #353430;
    --banner-color: #FFC2E6;
    --menu-theme-color: #353430;
    --menu-theme-hover-color: #35343066;
    --title-color: #353430;
    --title-decor-color: #353430;
  }

  .rec {
    visibility: hidden;
  }

  @media (max-width: 1024px) {
    .header__title,
    .footer__title {
      --banner-shadow-color: #FF8DCB;
    }
  }
}


