/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  align-items: center;
  margin: auto;
  color: var(--primary-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.3em;
  background-image: var(--background);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 375px;
  inline-size: 100%;
}

.content-section {
  padding-inline-start: var(--padding);
  padding-inline-end: var(--padding);
}

.content-section:not(:first-of-type) {
  margin-block-start: var(--margin);
}

.decorated-zone {
  position: relative;
  block-size: max(668px, 100vh);
}

.decorated-zone::before,
.decorated-zone::after {
  content: '';
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-top: 1px solid var(--menu-theme-color);
  border-right: 1px solid var(--menu-theme-color);
  inset-inline-end: var(--padding);
  inset-block-start: var(--padding);
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--menu-theme-color);
  border-block-end: 1px solid var(--menu-theme-color);
  inset-block-end: var(--padding);
  inset-inline-start: var(--padding);
}

.rec {
  position: absolute;
  color: var(--accent-color);
  line-height: 25px;
  inset-block-start: var(--padding);
  inset-inline-end: calc(28px + var(--padding));
  visibility: var(--visability);
}

.rec::after {
  content: '';
  position: absolute;
  z-index: -1;
  margin-inline-start: 10px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
  inset-block-start: 8px;
}

.header {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  margin-block-end: 40px;
  padding-block-start: var(--padding);
}

.header__theme-menu {
  justify-self: end;
  margin-block: 65px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  align-items: center;
  box-sizing: border-box;
  border: none;
  border-radius: 0;
  padding: 0 13px 0 13px;
  color: var(--menu-theme-color);
  font-family: 'IBM Plex mono', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1em;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  block-size: 26px;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--menu-theme-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--menu-theme-color);
  pointer-events: none;
}

.header__title {
  margin-block-end: 55px;
  color: var(--banner-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.83em;
  text-shadow: 4px 4px 0 var(--banner-shadow-color);
}

.header__description {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3em;
  columns: 2/3;
  block-size: fit-content;
}

.title-decor {
  color: var(--title-decor-color);
  background-color: var(--accent-color);
}

.title {
  color: var(--title-color);
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3em;
}

.subtitle {
  margin-block-start: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3em;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-block-start: 20px;
}

.card__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.3em;
}

.card__text {
  margin-block-start: 10px;
  font-weight: normal;
}

.card__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
  cursor: pointer;
}

.card__link:hover {
  border-block-end: 1px solid var(--primary-color);
}

.card__link:focus {
  outline: none;
}

.card__link:focus-visible {
  outline: 1px solid var(--primary-color);
}

.gallery-list {
  display: grid;
  gap: 10px;
  margin-block-start: 10px;
}

.image {
  display: block;
  inline-size: 100%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 40px;
}

.footer__title {
  color: var(--banner-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 0.825em;
  text-shadow: 2px 2px 0 var(--banner-shadow-color);
}

@media (min-width: 768px) {

  .content-section {
    --padding: 20px;
    --margin: 80px;
  }

  .decorated-zone {
    block-size: max(1024px, 100vh);
  }

  .header {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin-block-end: 60px;
    padding-inline-start: 0;
    padding-block-start: 0;
  }

  .header__theme-menu {
    grid-column: 2/3;
    align-self: end;
    margin-block-end: 40px;
  }

  .header__title {
    grid-column: 1/3;
    grid-row: 2/3;
    align-self: center;
    margin-block: 0;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    grid-column: 2/3;
    grid-row: 3/4;
    align-self: start;
    margin-block-start: 28px;
  }

  .reasons {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .reasons .card-list {
    margin-block-start: 0;
  }

  .problems {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .problems .card-list {
    margin-block-start: 0;
  }

  .problems-list {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .advices {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .advices .card__title {
    font-weight: normal;
  }

  .subtitle {
    margin-block-start: 0;
  }

  .gallery-list {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-start: 20px;
  }
  
  .image-sunset {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  .image-ice-cream {
    grid-column: 3/4;
    grid-row: 1/3;
    object-fit: cover;
    block-size: 100%;
  }

  .image-tape {
    grid-column: 1/2;
    grid-row: 2/4;
    object-fit: cover;
    block-size: 100%;
  }

  .image-books {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .image-street {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .footer {
    margin-block-start: 60px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

}

@media (min-width: 1024px) {

  .decorated-zone {
    block-size: max(768px, 100vh);
  }

  .header__theme-menu {
    grid-column: 1/-1;
    justify-self: center;
    align-self: start;
    margin-inline-start: 20px;
    margin-block-start: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title,
  .footer__title {
    --banner-shadow-color: var(--banner-shadow-large-screen-color);
  }

  .header__description {
    margin-block-start: 38px;
  }

  .reasons {
    gap: 10px;
  }

  .problems-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .advices {
    gap: 10px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --visability: visible;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: url('../images/cover-image-light.png');
    --accent-color: #FF8DCB;
    --primary-color: #353430;
    --banner-color: #FFC2E6;
    --menu-theme-color: #353430;
    --menu-theme-hover-color: #35343066;
    --title-color: #353430;
    --title-decor-color: #353430;
    --visability: hidden;
  }
}
