/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --background: url('../images/cover-image-dark.png');
  --menu-theme-color: #FF0070;
  --menu-theme-hover-color: #FF007066;
  --banner-color: #DB00FF;
  --banner-shadow-color: #FF0070;
  --banner-shadow-accent-color: #FF0070;
  --accent-color: #FF0070;
  --accent-color-light: #FF007066;
  --primary-color: #F1B2CE;
  --title-color: #FF0070;
  --title-decor-color: #000028;
  --padding: 10px;
  --margin: 50px;
}